
<div class="container-fluid limit-width footer_container">
    {% if page.footer %}
      {{ page.footer }}
    {% endif %}
    <div class="block-credits">
      <a href="https://studiofnc.pl/" class="fnc">projekt i wykonanie:<br>
      <img src="{{ base_path ~ directory }}/img/fnc-logo.svg" alt="studio FNC"></a>
    </div>
</div>
